<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">

	<listeners>
        <listener class-name="utils.listeners.TestListener"/>
        <listener class-name="utils.listeners.AnnotationTransformer"/>
    </listeners>

	<parameter name="runLocation" value="local" />
	
<!-- 	<parameter name="runLocation" value="deviceMode" /> -->
	
	<parameter name="browserName" value="chrome" />
	<test thread-count="5" name="Test">

		<classes>
			<!-- <class name="org.clearTrip.com.TestBooking.verifyClearTrip" /> -->
			<!-- <class name="org.clearTrip.com.TestBooking.checkNetowkSpeed" /> -->
			<class name="org.clearTrip.com.TestBooking.MockingGeolocation" />
			
		</classes>
	</test>
</suite>
